<div class="tag-cloud">
  <div class="tag-cloud-title">
    {%- if site.tags.length > 0 -%}
      目前共计 {{ site.tags.length }} 个标签
    {%- else -%}
      暂无标签
    {%- endif -%}
  </div>
  {%- if site.tags.length > 0 %}
  <div class="tag-cloud-tags">
    {{ tagcloud() }}
  </div>
  {%- endif %}
</div>

