{# Custom footer injection #}
<div class="footer-custom" style="text-align: center; margin-top: 10px; font-size: 13px; color: #888;">
  <i class="fa fa-clock-o"></i>
  <span id="sitetime">载入运行时间...</span>
</div>


